body{
    background-image: cover;
}
.heading{
    width: 100%;
    text-align: center;
}

.heading h3{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}

.heading button{
    float: right;
    border: 2px dashed paleturquoise;

}

.big_image{
    width: 100%;
}

h4{
    background-color: aquamarine;
    line-height: 2;
    margin: 0px;
    bottom: 0;
    position: fixed;
    width: 100%;
}
